* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    display: grid;
    background-color: #007FFF;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-content: start;
}

.side-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    color: white;
    height: 50%;
    border: 2px solid red;
}

svg {
    width: 20px;
    fill: white;
}

ul {
    list-style-type: none;
}

.article {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightgray;
}

.card {
    height: 200px;
}

.side-card {
    height: 300px;
}